* {
    margin: 0;
}
.App {
    margin: 0 auto;
    text-align: center;
    width: 1030px;
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    padding: 10px;
    margin: 5px 0;
}

.cards:hover {
    border: 2px solid #731414;
}

h3 {
    font-size: 24px;
}

a {
    color: black;
    text-decoration: none;
}

p {
    font-size: 14px;
    color: #731414;
}

.date {
    font-size: 12px;
}

.image {
    width: 100%;
}

img {
    width: 100%;
}